BENCHCHEF_BACKEND_PORT=18071
BENCHCHEF_FRONTEND_PORT=18072
BENCHCHEF_DEBUG=true
BENCHCHEF_SECRET_KEY=django-insecure-benchchef-local-dev-change-me
PROMETHEUS_PORT=18073
GRAFANA_PORT=18074
NODE_EXPORTER_PORT=18075
PROCESS_EXPORTER_PORT=18076
BENCHCHEF_START_DIAGNOSTICS_LOOP=false
BENCHCHEF_DIAGNOSTICS_CONNECTION_ID=1
BENCHCHEF_DIAGNOSTICS_INTERVAL_SECONDS=5
SPAGHETTICHEF_BASE_URL=http://localhost:18080
