# Observer : BenchChef with promotheus and grafana
# These values are port to access docker services :
PROMETHEUS_PORT=18073
GRAFANA_PORT=18074
NODE_EXPORTER_PORT=18075
PROCESS_EXPORTER_PORT=18076

BENCHCHEF_DEBUG=true
# Django backend  
BENCHCHEF_BACKEND_PORT=18071
# Angular frontend  
BENCHCHEF_FRONTEND_PORT=18072

# observed program : SpaghettiChef
SPAGHETTICHEF_DIR=../spaghetti-chef/develop
PORTSPAGHETTICHEF=18080
SPAGHETTICHEF_ROLE_HEADER=ADMIN
