# Observer : BenchChef with promotheus and grafana
# These values are port to access docker services :
PROMETHEUS_PORT=18073
GRAFANA_PORT=18074

BENCHCHEF_DEBUG=true
# Django backend  
BENCHCHEF_BACKEND_PORT=18071
# Angular frontend  
BENCHCHEF_FRONTEND_PORT=18072

# observed program : SpaghettiChef
PORTSPAGHETTICHEF=18080
SPAGHETTICHEF_ROLE_HEADER=ADMIN
